{% extends 'base.html' %}

{% block content %}

<h2>Appointments</h2>

<a href="/add-appointment/" class="btn btn-primary mb-3">+ Add Appointment</a>

<table class="table table-striped">
    <tr>
        <th>Patient</th>
        <th>Doctor</th>
        <th>Date</th>
        <th>Status</th>
    </tr>

    {% for a in appointments %}
    <tr>
        <td>{{ a.patient }}</td>
        <td>{{ a.doctor }}</td>
        <td>{{ a.date }}</td>
        <td>{{ a.status }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}