{% extends 'base.html' %}

{% block content %}

<h2 class="fade-in">Patients</h2>

<table class="table table-hover fade-in">
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Action</th>
    </tr>

    {% for p in patients %}
    <tr>
        <td>{{ p.name }}</td>
        <td>{{ p.age }}</td>
        <td>{{ p.gender }}</td>
        <td>
            <a href="/delete/{{ p.id }}/" class="btn btn-danger btn-sm">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}